<button mat-raised-button color="primary" (click)="onPrevClick()" [disabled]="!prevBtnEnable">{{ 'buttons.prev' | translate }}</button>
<button mat-raised-button color="primary" (click)="onNextClick()" [disabled]="!nextBtnEnable">{{ 'buttons.next' | translate }}</button>
<mwl-calendar-week-view [viewDate]="viewDate" [events]="events" [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
  (eventTimesChanged)="eventTimesChanged($event)" [dayStartHour]="dayStartHour" [dayEndHour]="dayEndHour">
</mwl-calendar-week-view>