<div class="row">
  <div class="col">
    <mat-card>
      <mat-card-title>
        {{ 'myAccount.contactData' | translate }}
      </mat-card-title>
      <mat-card-content>
        <form #dataForm="ngForm" (ngSubmit)="onChangeDataButtonClick()" ngNativeValidate>
          <mat-form-field>
            <input matInput type="email" name="email" [(ngModel)]='userDetails.email' placeholder="{{ 'users.email' | translate }}"
              [readonly]="!contactDataChange" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="number" name="number" [(ngModel)]='userDetails.phone' placeholder="{{ 'users.phone' | translate }}"
              [readonly]="!contactDataChange" pattern="[0-9]{9}" required>
          </mat-form-field>
          <mat-form-field>
            <textarea matInput name="address" [(ngModel)]='userDetails.address' placeholder="{{ 'users.address' | translate }}"
              [readonly]="!contactDataChange"></textarea>
          </mat-form-field>
          <button type="submit" [disabled]="!dataForm.valid" mat-button *ngIf="contactDataChange">{{ 'buttons.save' | translate }}</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col">
    <mat-card>
      <mat-card-title>{{ 'myAccount.options' | translate }}</mat-card-title>
      <mat-card-content>
        <mat-nav-list>
          <mat-list-item (click)="onChangeDataClick()">{{ 'myAccount.changeData' | translate }}</mat-list-item>
          <mat-list-item (click)="onPasswordChangeClick()">{{ 'myAccount.changePass' | translate }}</mat-list-item>
        </mat-nav-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>