<h2 mat-dialog-title></h2>
<div mat-dialog-content>
  {{ 'bookingDay.cancelBooking' | translate }}?
  <mat-form-field>
    <textarea [(ngModel)]="note" matInput placeholder="Cancel note" required></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onYesClick()">{{ 'buttons.yes' | translate }}</button>
  <button mat-button mat-dialog-close>{{ 'buttons.no' | translate }}</button>
</div>

