<div class="row">
  <div class="col">
    <div class="border p-3">
      <h3>
        TRENDY HAIR FASHION PSZCZYNA <br>
      </h3>
      <p>
        ul: Piwowarska 1a/2 <br>
        43-200 Pszczyna <br>
        tel: 32 210-00-21 <br>
        tel: 785-873-639<br>

      </p>

    </div>

  </div>
  <div class="col">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2565.729897363296!2d18.941329415285107!3d49.97892372910935!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4716baec028a88d5%3A0xa1cd4bfec60050c4!2sTrendy+Hair+Fashion!5e0!3m2!1spl!2spl!4v1540211819402"
      width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>