<mat-card *ngIf="schedule.days">
  <mat-card-content>
    <div class="row align-items-center" *ngFor="let day of schedule.days">
      <div class="col-3 text-center">{{ day.dayName }}</div>
      <div class="col-9">
        <div class="row justify-content-center">
          <div class="col">
            {{ 'assignments.from' | translate }}
            <ngb-timepicker [(ngModel)]="day.startTime"></ngb-timepicker>
          </div>
          <div class="col">
            {{ 'assignments.to' | translate }}
            <ngb-timepicker [(ngModel)]="day.endTime"></ngb-timepicker>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="onUpdateClick()">{{ 'buttons.update' | translate }}</button>
    <button mat-button (click)="onResetClick()">{{ 'buttons.reset' | translate }}</button>
  </mat-card-actions>
</mat-card>