<mat-nav-list>
  <mat-list-item>
    <div class="col-4">
      {{ 'myBookings.timeStatus' | translate }}
    </div>
    <div class="col-4">
      {{ 'myBookings.service' | translate }}
    </div>
    <div class="col-4">
      {{ 'myBookings.employee' | translate }}
    </div>
  </mat-list-item>
  <mat-list-item *ngFor="let booking of bookings" (click)="onBookingClick(booking)">
    <div class="col-4">
      {{ booking.startDateTimeDto.localDateDto.day }}/{{ booking.startDateTimeDto.localDateDto.month }}/{{
      booking.startDateTimeDto.localDateDto.year }}
      {{ booking.startDateTimeDto.localTimeDto.hour }}:{{ booking.startDateTimeDto.localTimeDto.minute | minute }}
      - {{ booking.bookingState }}
    </div>
    <div class="col-4">
      {{ booking.serviceAssignmentDto.serviceDto.name }}
    </div>
    <div class="col-4">
      {{ booking.serviceAssignmentDto.userDto.firstName }} {{ booking.serviceAssignmentDto.userDto.lastName }}
    </div>

  </mat-list-item>
</mat-nav-list>