<div class="container">
  <mat-card>
    <mat-card-title>
      {{ 'users.addUser' | translate }}
    </mat-card-title>
    <mat-card-content>

      <form [formGroup]="addUserForm" (ngSubmit)="onAddButton()" ngNativeValidate>
        <mat-form-field>
          <input matInput formControlName='login' placeholder="{{ 'users.login' | translate }}" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName='password' placeholder="{{ 'users.password' | translate }}" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName='firstName' placeholder="{{ 'users.firstName' | translate }}" required>
        </mat-form-field>

        <mat-form-field>
          <input matInput formControlName='lastName' placeholder="{{ 'users.lastName' | translate }}" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="email" formControlName='email' placeholder="{{ 'users.email' | translate }}" required
            email>
        </mat-form-field>
        <mat-form-field>
          <input matInput pattern="[0-9]{9}" formControlName='phone' placeholder="{{ 'users.phone' | translate }}" required>
        </mat-form-field>
        <mat-form-field>
          <textarea matInput formControlName='address' placeholder="{{ 'users.address' | translate }}"></textarea>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="{{ 'users.role' | translate }}" formControlName="selectedRole" required>
            <mat-option *ngFor="let role of roles" [value]="role.value">
              {{role.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <button mat-button [disabled]="!addUserForm.valid" type="submit">{{ 'users.registerUser' | translate }}</button>

      </form>
    </mat-card-content>
  </mat-card>
</div>