<h2 mat-dialog-title>{{ 'users.userDetails' | translate }}</h2>
<div mat-dialog-content>
  <mat-form-field>
    <input type="text" matInput [(ngModel)]='userData.userDto.name' placeholder="{{ 'users.login' | translate }}" readonly>
  </mat-form-field>
  <mat-form-field>    
    <input type="text" matInput [(ngModel)]='userData.userDto.firstName' placeholder="{{ 'users.firstName' | translate }}" readonly>
  </mat-form-field>
  <mat-form-field>
    <input type="text" matInput [(ngModel)]='userData.userDto.lastName' placeholder="{{ 'users.lastName' | translate }}" readonly>
  </mat-form-field>
  <mat-form-field>
    <input type="email" matInput [(ngModel)]='userData.userDetailsDto.email' placeholder="{{ 'users.email' | translate }}" readonly>
  </mat-form-field>
  <mat-form-field>
    <input type="number" matInput [(ngModel)]='userData.userDetailsDto.phone' placeholder="{{ 'users.phone' | translate }}" readonly>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput [(ngModel)]='userData.userDetailsDto.address' placeholder="{{ 'users.address' | translate }}" readonly></textarea> 
  </mat-form-field>
</div>
<div mat-dialog-actions align="center">
  <button mat-button mat-dialog-close>{{ 'buttons.ok' | translate }}</button>
</div>