<h1 mat-dialog-title>{{ 'myAccount.changePass' | translate }}</h1>
<div mat-dialog-content>
  <form [formGroup]="passForm" (ngSubmit)="onChangePass()" ngNativeValidate>
    <mat-form-field>
      <input matInput type="password" formControlName='oldPass' placeholder="{{ 'myAccount.oldPass' | translate }}" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" formControlName='newPass1' placeholder="{{ 'myAccount.newPass1' | translate }}" required minlength="8">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" formControlName='newPass2' placeholder="{{ 'myAccount.newPass2' | translate }}" required minlength="8">
    </mat-form-field>
    <button mat-button [disabled]="!passForm.valid" type="submit">{{ 'buttons.change' | translate }}</button>
    <button mat-button mat-dialog-close cdkFocusInitial>{{ 'buttons.cancel' | translate }}</button>
  </form>
</div>
<!-- <div mat-dialog-actions>
  <button mat-button mat-dialog-close (click)="changePass()">Change password</button>
  
</div> -->