<mat-nav-list>
  <mat-list-item>
    <div class="col-2">
      {{ 'bookingDay.time' | translate }}
    </div>
    <div class="col-4">
        {{ 'bookingDay.client' | translate }}
    </div>
    <div class="col-3">
        {{ 'bookingDay.service' | translate }}
    </div>
    <div class="col-3">
        {{ 'bookingDay.employee' | translate }}
    </div>
  </mat-list-item>

  <mat-list-item *ngFor="let booking of bookings" (click)="onBookingClick(booking)">
    <!-- <div class="row"> -->
    <div class="col-2">
      {{ booking.startDateTimeDto.localTimeDto.hour }} : {{ booking.startDateTimeDto.localTimeDto.minute | minute }}
    </div>
    <div class="col-4">
      {{ booking.client.firstName }} {{ booking.client.lastName }}
    </div>
    <div class="col-3">
      {{ booking.serviceAssignmentDto.serviceDto.name }}
    </div>
    <div class="col-3">
      {{ booking.serviceAssignmentDto.userDto.firstName }} {{ booking.serviceAssignmentDto.userDto.lastName }}
    </div>
    <!-- </div> -->

  </mat-list-item>
</mat-nav-list>