<div class="row">
  <div class="col-5">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let employee of employees" (opened)="expandEmployee(employee)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ employee.firstName }} {{ employee.lastName }}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-nav-list>
          <mat-list-item *ngFor="let service of services">
            {{ service.name }}
            <button mat-icon-button (click)="onAssignmentDelete(employee,service)">
                <mat-icon>close</mat-icon>
              </button>
          </mat-list-item>
          <mat-list-item (click)="onAssignServiceClick(employee)">
            {{ 'assignments.assignService' | translate }}
          </mat-list-item>
        </mat-nav-list>

      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div class="col-7">
    <app-schedule [employee]="currentEmployee"></app-schedule>
  </div>