<h2 mat-dialog-title>{{ 'users.userDetails' | translate }}</h2>
<div mat-dialog-content>
  <b>{{ client.firstName }} {{ client.lastName }}</b>  <br>
  Phone: {{ details?.phone }} <br>
  Email: {{ details?.email }} <br>
  Address: <pre>{{ details?.address }}</pre>
</div>
<div mat-dialog-actions align="center">
  <button mat-button mat-dialog-close>{{ 'buttons.ok' | translate }}</button>
</div>