<h2 mat-dialog-title>{{ 'assignments.assignServiceDlg' | translate }}</h2>

<mat-dialog-content>
  <mat-nav-list>
    <mat-list-item *ngFor="let service of data" (click)="onServiceClick(service)">{{ service.name }}</mat-list-item>
  </mat-nav-list>

</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-button color="primary" mat-dialog-close>{{ 'buttons.cancel' | translate }}</button>
</mat-dialog-actions>