<div class='row'>
  <div class="col">

    <div class="scrollbar scrollbar-primary">
      <mat-nav-list>
        <mat-list-item *ngFor="let service of services" (click)="onServiceSelect(service)" [ngClass]="{'item-active': selectedService === service }">
          {{ service.name }}
        </mat-list-item>
      </mat-nav-list>
    </div>

  </div>
  <div class="col">
    <div *ngIf="selectedService">

      <mat-form-field>
        <input matInput [(ngModel)]="datePicker" [matDatepicker]="picker" [min]="minDate" [max]="maxDate" (dateChange)="onDateChange($event)"
          placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <!-- </div> -->
      <!-- <div class="row"> -->
      <app-free-dates [searchRequest]="searchFreeBookings"></app-free-dates>
    </div>
    <!-- </div> -->
  </div>
</div>