<h2 mat-dialog-title>{{ 'bookingDay.booking' | translate }}</h2>
<div mat-dialog-content>
  <mat-nav-list>
    <mat-list-item *ngFor="let option of options" (click)="onOptionClick(option)">
      {{ option | translate }}
    </mat-list-item>
  </mat-nav-list>
</div>
<div mat-dialog-actions align="center">
  <button mat-button mat-dialog-close>{{ 'buttons.cancel' | translate }}</button>
</div>