<div class="row">
  <div class="col">
    <mat-radio-group [(ngModel)]="selectedOption">
      <mat-radio-button class="bd-radio-btn" *ngFor="let option of viewOptions" [value]="option">{{ option | translate }}</mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="col">
    <mat-form-field>
      <input matInput [(ngModel)]="datePicker" [matDatepicker]="picker" (dateChange)="onDateChange($event)" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
</div>
<div [ngSwitch]="selectedOption">
  <app-booking-day-all *ngSwitchCase="VIEW_OPTION_ALL" [selectedDate]="selectedDate" (bookingSelectedOutput)="onBookingSelected($event)"></app-booking-day-all>
  <app-booking-day-employee *ngSwitchCase="VIEW_OPTION_EMPLOYEE" [selectedDate]="selectedDate" (bookingSelectedOutput)="onBookingSelected($event)"></app-booking-day-employee>
  <app-booking-day-service *ngSwitchCase="VIEW_OPTION_SERVICE" [selectedDate]="selectedDate" (bookingSelectedOutput)="onBookingSelected($event)"></app-booking-day-service>
  <app-booking-day-canceled *ngSwitchCase="VIEW_OPTION_CANCELED" [selectedDate]="selectedDate" (bookingSelectedOutput)="onBookingSelected($event)"></app-booking-day-canceled>
</div>