<div class='row'>
  <mat-card class="col">
    <mat-card-title>{{ 'services.allservices' | translate }}</mat-card-title>
    <mat-card-content>
      <mat-nav-list>
        <mat-list-item *ngFor="let service of services" (click)="onSelect(service)">
          {{ service.name }} {{ service.duration }}
        </mat-list-item>
      </mat-nav-list>
    </mat-card-content>
  </mat-card>

  <div class='col'>
    <mat-card>
      <mat-card-title>{{ 'services.addservice' | translate }}</mat-card-title>
      <mat-card-content>
        <form (ngSubmit)="onAddService()" ngNativeValidate>
          <mat-form-field>
            <input matInput type="text" name='serviceName' [(ngModel)]='newService.name' placeholder="{{ 'services.name' | translate }}"
              required>
          </mat-form-field>

          <label>{{ 'services.duration' | translate }}</label>
          <div class='row'>
            <div class='col'>
              <button mat-mini-fab color="primary" type="button" (click)="onMinusButton()">-</button>
              <div class='durationForm'> {{ newService.durationUnits * durationInMinutes }} min </div>
              <button mat-mini-fab color="primary" type="button" (click)="onPlusButton()">+</button>
            </div>
            <div class='col'>
              <button mat-raised-button color="primary" type="submit" class=" buttonMargin">{{ 'services.addservicebtn'
                | translate }}</button>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>