<div class="row">
  <div class="col-4">
    <mat-nav-list>
      <mat-list-item>{{ 'bookingDay.services' | translate }}</mat-list-item>
      <mat-list-item *ngFor="let service of services" (click)="onServiceClick(service)" [ngClass]="{'item-active': selectedService === service }">
        {{ service.name }}
      </mat-list-item>
    </mat-nav-list>
  </div>
  <div class="col-8">
    <mat-nav-list>
      <mat-list-item>
        <div class="col-2">
            {{ 'bookingDay.time' | translate }}
        </div>
        <div class="col-5">
            {{ 'bookingDay.client' | translate }}
        </div>
        <div class="col-5">
          {{ 'bookingDay.employee' | translate }}
        </div>
      </mat-list-item>

      <mat-list-item *ngFor="let booking of bookings" (click)="onBookingClick(booking)">
        <div class="col-2">
          {{ booking.startDateTimeDto?.localTimeDto?.hour }} : {{ booking.startDateTimeDto?.localTimeDto?.minute | minute }}
        </div>
        <div class="col-5">
          {{ booking.client?.firstName }} {{ booking.client?.lastName }}
        </div>
        <div class="col-5">
          {{ booking.serviceAssignmentDto?.userDto?.firstName }} {{ booking.serviceAssignmentDto?.userDto?.lastName }}
        </div>
      </mat-list-item>
    </mat-nav-list>
  </div>
</div>