<td-layout-nav>
  <public-header (toggle)="onToggle($event)" [sideNavOpened]="sideNavOpened" td-toolbar-content flex></public-header>
  <td-layout-manage-list [opened]="(media.registerQuery('gt-sm') | async) || sideNavOpened" [mode]="(media.registerQuery('gt-sm') | async) ? 'side' : 'over'"
    [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '280px' : '100%'">
    <div td-sidenav-content>
      <mat-nav-list td-sidenav-content>
        <!-- Sidenav links -->
        <a id="home" mat-list-item [routerLink]="['./initialPage']" (click)="close('home')">
          <mat-icon matListAvatar>home</mat-icon>
          <h3 matLine>{{ 'home' | translate }}</h3>
          <p matLine>{{ 'description' | translate }}</p>
        </a>
        <a *ngFor="let item of naviItems" mat-list-item [routerLink]=item.url (click)="close(item.titel)">
          <mat-icon matListAvatar>{{ item.avatar }}</mat-icon>
          <h3 matLine>{{ item.titel | translate }}</h3>
          <p matLine>{{ item.description | translate }}</p>
        </a>
      </mat-nav-list>
    </div>
    <mat-card [style.height.%]="97">
      <mat-card-content [style.height.%]="97">
        
        <h1 *ngIf="!disableHeader">
          <mat-icon matListAvatar>bubble_chart</mat-icon> {{ cardTitle | translate }}
        </h1>
        <mat-divider *ngIf="!disableHeader"></mat-divider><br>
        <div [style.height.%]="92" [style.overflow]="'auto'">
          <div class="container-fluid">
            <router-outlet (activate)='onActivate($event)'></router-outlet>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

  </td-layout-manage-list>
</td-layout-nav>