<div class="row">
    <div class="col">
        <mat-nav-list>
            <mat-list-item *ngFor="let item of items" (click)="onSelect(item)">
                    <mat-icon matListAvatar>{{ item.avatar }}</mat-icon>
                {{ item.titel | translate}} - {{ item.description | translate}}
            </mat-list-item>
        </mat-nav-list>
    
    </div>
    <div class="col text-center">
        <img [style.width.%]="80" src="../../assets/img/barber-640.png" alt="scissors">    
    </div>

</div>