<h2 mat-dialog-title>{{ 'users.userDetails' | translate }}</h2>
<div mat-dialog-content>
  <mat-form-field>
    <input type="text" matInput [(ngModel)]='userData.userDto.name' placeholder="{{ 'users.login' | translate }}" readonly>
  </mat-form-field>
  <mat-form-field>    
    <input type="text" matInput [(ngModel)]='userData.userDto.firstName' placeholder="{{ 'users.firstName' | translate }}">
  </mat-form-field>
  <mat-form-field>
    <input type="text" matInput [(ngModel)]='userData.userDto.lastName' placeholder="{{ 'users.lastName' | translate }}">
  </mat-form-field>
  <mat-form-field>
    <input type="email" matInput [(ngModel)]='userData.userDetailsDto.email' placeholder="{{ 'users.email' | translate }}">
  </mat-form-field>
  <mat-form-field>
    <input type="number" matInput [(ngModel)]='userData.userDetailsDto.phone' placeholder="{{ 'users.phone' | translate }}">
  </mat-form-field>
  <mat-form-field>
    <textarea matInput [(ngModel)]='userData.userDetailsDto.address' placeholder="{{ 'users.address' | translate }}"></textarea> 
  </mat-form-field>
</div>
<div mat-dialog-actions align="center">
  <button mat-button mat-dialog-close (click)="onEdit()">{{ 'buttons.edit' | translate }}</button>
  <button mat-button (click)="onRemove()">{{ 'buttons.delete' | translate }}</button>
  <button mat-button mat-dialog-close>{{ 'buttons.cancel' | translate }}</button>
</div>