<mat-card>
    <mat-card-content>
        <div class="row align-items-center">
            <div class="col">
                <h1>
                    <mat-icon matListAvatar>error_outline</mat-icon>
                    Upps... Something went wrong.
                </h1>
                <p>{{ errorMsg }}</p>

            </div>
            <div class="col text-center">
                <img class="rounded" src="../../assets/img/wrong-way-167535_640.jpg" alt="Wrong way">
            </div>
        </div>
    </mat-card-content>
</mat-card>