<h2 mat-dialog-title>{{ 'services.editService' | translate }}</h2>

<mat-dialog-content>

  <mat-form-field>
    <input matInput type="text" name='serviceName' [(ngModel)]='data.service.name' placeholder="{{ 'services.name' | translate }}"
      required>
  </mat-form-field>
  <div class="form-group">
    <label>{{ 'services.duration' | translate }}</label>
    <div>
      <button type="button" (click)="onMinusButton()">-</button>
      <div class='inline'> {{ data.service.durationUnits * data.durationInMinutes }} min </div>
      <button type="button" (click)="onPlusButton()">+</button>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="center">
  <button mat-button color="primary" mat-dialog-close>{{ 'buttons.cancel' | translate }}</button>
  <button mat-button color="primary" (click)="onEditClick()">{{ 'buttons.edit' | translate }}</button>
  <button mat-button color="primary" (click)="onDeleteClick()">{{ 'buttons.delete' | translate }}</button>
</mat-dialog-actions>