<mat-card>
  <mat-card-title>
      {{ 'users.findUser' | translate }}
  </mat-card-title>
  <mat-card-content>
    <form (ngSubmit)="onSearch(name.value)">
      <mat-form-field>
        <input matInput #name placeholder="{{ 'users.name' | translate }}" required>
      </mat-form-field>      
      <button mat-button [disabled]="!name.value">{{ 'buttons.search' | translate }}</button>
    </form>
  </mat-card-content>
</mat-card>
<mat-card *ngIf="isUserListVisible">
  <mat-card-title>{{ 'users.foundUsers' | translate }}</mat-card-title>
  <mat-card-content>
    <mat-nav-list>
      <mat-list-item *ngFor="let user of clients" (click)="onSelect(user)">
        {{ user.firstName }} {{ user.lastName }}
      </mat-list-item>
    </mat-nav-list>
  </mat-card-content>
</mat-card>
