<h2 mat-dialog-title>{{ data.titel | translate }}</h2>
<div mat-dialog-content>{{ data.content | translate }}</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>{{ 'buttons.no' | translate }}</button>
  <button mat-button [mat-dialog-close]="true">{{ 'buttons.yes' | translate }}</button>
</div> 