<mat-accordion *ngIf="freeBookings">
  <mat-expansion-panel *ngFor="let freeBooking of freeBookings" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ freeBooking.serviceAssignmentDto.userDto.firstName }} {{ freeBooking.serviceAssignmentDto.userDto.lastName }}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div>
      <button mat-button *ngFor="let startTime of freeBooking.startTimes" (click)="onTimeSelect(freeBooking, startTime)">
        {{ startTime.hour }}:{{ startTime.minute | minute }}
      </button>
    </div>
  </mat-expansion-panel>
</mat-accordion>