<div class="container">
  <mat-card>
    <mat-card-title>
      {{ 'users.addUser' | translate }}
    </mat-card-title>
    <mat-card-content>

      <form [formGroup]="addUserForm" (ngSubmit)="onAddButton()" ngNativeValidate>
        <mat-form-field>
          <input matInput formControlName='firstName' placeholder="{{ 'users.firstName' | translate }}" minlength="3" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName='lastName' placeholder="{{ 'users.lastName' | translate }}" minlength="3" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="email" formControlName='email' placeholder="{{ 'users.email' | translate }}" required
            email>
        </mat-form-field>
        <mat-form-field>
          <input matInput pattern="[0-9]{9}" formControlName='phone' placeholder="{{ 'users.phone' | translate }}" required>
        </mat-form-field>
        <mat-form-field>
          <textarea matInput formControlName='address' placeholder="{{ 'users.address' | translate }}"></textarea>
        </mat-form-field>      
        <button mat-button [disabled]="!addUserForm.valid" type="submit">{{ 'users.registerUser' | translate }}</button>

      </form>
    </mat-card-content>
  </mat-card>
</div>